html, body {
  height: 100%;
  width: 100%;
}

/* .container {
  display: flex;
  justify-content: center;
  background-color: pink;
  } */

.header {
  display: flex;
  justify-content: center;
  background-color: #FF869E;
}

h5{
  font-family: 'Nunito Sans', sans-serif;
}


